Repository flmesh/areyoumeshingwith.us, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flmesh, @jbouse, @flmesh/editors

.github/CODEOWNERS:

# This file designates code owners for this repository.
# Lines starting with '#' are comments.

# Set the main maintainers as code owners for everything in the repo:
*       @flmesh

/.github/CODEOWNERS @jbouse
/terraform/    @jbouse
/.devcontainer/ @jbouse
/assets/    @flmesh/editors
/content/   @flmesh/editors
/data/  @flmesh/editors

chore: update Hugo version and enhance build commands in amplify.yml; add contributor guide in index.html; modify Terraform configuration for AWS Amplify
  amplify.yml
  static/contribute/index.html
  terraform/main.tf
Owners: @flmesh, @jbouse

Update release.yml
  .github/workflows/release.yml
Owners: @flmesh

Added number for the most accurate position accuracy that will still send to map
  content/docs/configuration/index.md
Owners: @flmesh/editors

Add note about not setting node role to router
  content/docs/configuration/index.md
Owners: @flmesh/editors

Added note about having to send
  content/docs/configuration/index.md
Owners: @flmesh/editors

Added maximum setting for hop limit due to detriment to mesh
  content/docs/configuration/index.md
Owners: @flmesh/editors

Added maximum setting for hop limit due to detriment to mesh
  content/docs/configuration/index.md
Owners: @flmesh/editors

Add note about not setting node role to router
  content/docs/configuration/index.md
Owners: @flmesh/editors

We now have more than just the default in FL
  content/docs/configuration/index.md
Owners: @flmesh/editors

We now have more than one preset in FL
  content/docs/configuration/index.md
Owners: @flmesh/editors

We now have more than just the default in FL
  content/docs/configuration/index.md
Owners: @flmesh/editors

Content? In my homepage? It's more likely than you think.
  content/_index.md
Owners: @flmesh/editors

Content? In my homepage? It's more likely than you think.
  content/_index.md
Owners: @flmesh/editors

Content? In my homepage? It's more likely than you think.
  content/_index.md
Owners: @flmesh/editors

Added note about having to send
  content/docs/configuration/index.md
Owners: @flmesh/editors

Updating Config Page
  content/docs/configuration/index.md
Owners: @flmesh/editors

Updates to MQTT docs
  content/docs/configuration/index.md
Owners: @flmesh/editors
